{% block content %}

<head>
  <meta http-equiv="refresh" content="2;http://127.0.0.1:5000/logorreg">

  <style type="text/css">
    .bulb3 {
      border-radius: 60px/60px; /* Создание эллипса */
   }
   .textt{
      text-align:  center;
  }
  .topp{
    margin-top: 40px;
  }

  table {
  width:25%;
  }
  table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    margin: auto;
  }
  th, td {
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: black;
    color: white;
  }
  </style>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>

<body>
  <div class="w3-bar w3-black">
    <a href="http://127.0.0.1:5000/logorreg" class= "w3-wide w3-hover-aqua bulb3 w3-bar-item w3-button" target = "_self"><font size="10">Back</a>
  </div> 
  <div class= "w3-wide textt topp">
    <font size="515" color="black">You have successfully registered<br>Your data is<br><br></font>
  </div>
  <div class= "w3-wide textt topp">
    <br>
  </div>
  <table border="1">  
    {% for key, value in result.items() %}
    <tr>
        <th>
          {{key}}
        </th>
        <td>
          {{value}}
        </td>
    </tr>
    {% endfor %}  
  </table>
  {%endblock %}

</body>