{% block content %}

<head>
  <style type="text/css">
  .bulb3 {
    border-radius: 60px/60px; /* Создание эллипса */
  }
  .textt{
    margin-top: 80px;
    text-align:  center;
  } 
  </style>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
  <title>PAGE0</title>
</head>


<body bgcolor="white">


  <div class= "w3-wide textt">
    <font size="515" color="black">Time <br> Managment <br>Application</font>
  </div>

  <div class="w3-display-middle">
     <div>
      <a href="http://127.0.0.1:5000/logorreg" class= "w3-wide w3-hover-aqua w3-button bulb3 w3-jumbo w3-block" target = "_self"><font color="black">START</a>
    </div>  
  </div>  
</body>

{%endblock %}